/* poppins-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/poppins-v20-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('/fonts/poppins-v20-latin-300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
/* poppins-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 600;
    src: url('/fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('/fonts/poppins-v20-latin-500.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
* {
    --teal: #0FB3B2;
    --blue: #1C77A2;
    --dark-gray: #979BAB;
    --white: #fff;

    --margin: 24px;

    padding: 0;
	margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

h1, h2, p {
    margin: 0;
}
h1 {
    font-size: 40px;
    line-height: 38px;
    letter-spacing: -0.04em;
}
h2 {
    font-size: 36px;
    line-height: 38px;
    letter-spacing: -0.04em;
}
p, a.button {
    font-size: 18px;
}
strong {
    color: var(--teal);
}
a.button {
    text-decoration: none;
    color: var(--teal);
    font-weight: bold;
    border: 1px solid var(--teal);
    padding: 8px 16px;
    border-radius: 22px;
}
a.button:hover {
    text-decoration: none;
}
a.button.variation {
    background-color: var(--teal);
    color: var(--white);
}
a.button.variation2 {
    background-color: var(--white);
    color: var(--teal);
    border: none;
}
a.button.blur {
    backdrop-filter: blur(4px);
}


a.button.variation:hover {
    background-color: #0096B1;
}
a.button.variation2:hover {
    background-color: #0096B1;
    color: white;
}

.white {
    color: var(--white);
}
.marker {
    background-image: url('$lib/images/marker.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.mapboxgl-popup a{
    max-width: 200px;
    text-decoration: none;
    color: black;
    outline: none;
}

.mapboxgl-popup a:focus{
    outline: none;
}

.mapboxgl-popup p{
    font-size: 16px;
}

.mapboxgl-popup h3{
    color: var(--blue);
}
  
.mapboxgl-popup-content {
    text-align: center;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
    top: 0 !important;
    bottom: auto !important;
    padding-top: 5px !important;
}

a:hover {
    text-decoration: underline;
}

@media (min-width: 924px) {
    h1 {
        font-size: 64px;
        line-height: 60px;
        letter-spacing: -0.04em;
    }
    h2 {
        font-size: 64px;
        line-height: 60px;
        letter-spacing: -0.04em;
    }
}